.skills {
    /* border: solid red 1px; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 40%;
    width: 25%;
    justify-content: center;
}

.skills a {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.skills h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-shadow: 0 0 10px #ffb300;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-card {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-conteiner h1 {
    text-shadow: 0 0 10px #ffb300;
}