.skills {
    /* border: solid red 1px; */
    display: flex;
    flex-wrap: wrap;
    margin-right: 75%;
}

.skills a {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.skills h3 {
    display: flex;
    width: 100%;
    justify-content: center;
}
