.section-cards {
    /* padding-left: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    /* border: solid 4px red; */
    /* background-color: rgb(236, 236, 236); */
}

.container {
    width: min-content;
    height: 370px;
    -webkit-perspective: 1500;
    perspective: 1500;
}

.container:hover .card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card,
.front,
.back {
    max-height: 370px;
    width: 250px;
    height: 100%;
    border-radius: 5px;
}

.card {
    position: relative;
    -webkit-transition: transform 1.5s;
    transition: transform 1.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background-image: url('https://i.pinimg.com/564x/1d/70/3c/1d703c1dcafa653e237812e8c4372596.jpg');
    border: 1.5px solid white;
    /* width: 70%; */
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    overflow: hidden;
   
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: rgb(88,96,111);

}

.back img {
    width: 100%;
    /* height: auto; */
    object-fit: cover;
}

@media screen and (max-width: 700px) {
    .section-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    .container {
        width: 80%;
        /* border: solid red 1px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}