h1 {
    text-align: center;
}

body {
    min-height: max-content;
    background-color: black;
    /* background: radial-gradient(#bc8439, #2d1b13, black); */
    /* color: rgb(207, 105, 51); */
    color: white;
    text-align: center;
}

.icons-conteiner {
    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

}

.icons {
    font-size: 40px;
    color: white;
}

.imgprofile {
    border-radius: 150px;
}

.all-cards {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.section-cards {
    /* border: solid red 1px; */
    align-items: center;
    justify-content: center;
}

.trybe {
    display: flex;
    justify-content: center;
}

.home-conteiner h1 {
    /* color: rgb(207, 105, 51); */
    color: rgb(255, 255, 255);
    font-size: 3rem;
    /* text-shadow: 0 0 10px #ffffff; */
    padding-bottom: 1rem;
}