.skills-conteiner {
    display: flex;
}

.skills-conteiner .option {
    display: flex;
    flex-direction: column;
}

.skills-conteiner .image-container {
    margin-right: 2rem;
    background-color: white;
    border-radius: 25px;
}

@media screen and (max-width: 700px) {
    .skills-conteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }
    .skills-conteiner .image-container {
        margin-right: 0rem;
        border-radius: 50px;
    }
}