.test {
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 300px;
    padding: 0.5rem;
}

.item img {
    width: 80%;
    height: 98%;
    border-radius: 12px;
    pointer-events: none;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}